# Node
node_modules/
package-lock.json

# IDE's
.idea/

# Bot
config.toml
storage/disabledcmds.json
storage/giveaways.json
storage/premiumkeys.json
storage/staffs.json
storage/news.json
storage/images/
data.json
