h1
    i.bi.bi-speedometer2
    | &nbsp;Overview
.overview-grid
    .overview-icon
        - var iconUrl = ""
        if !guild.iconURL
            - iconUrl = "https://yt3.ggpht.com/ytc/AAUvwniEUaBNWbH9Pk7A1cmIBdxnYt0YYrgNKx5h8grSMA=s900-c-k-c0x00ffffff-no-rj"
        else
            - iconUrl = guild.iconURL

        img(src=iconUrl height=96 width=96)

    .overview-table
        table(style="width: 100%")
            tbody
                tr
                    td
                        strong Name
                    td
                        p=guild.name
                tr
                    td
                        strong Members
                    td
                        p=guild.memberCount
                tr
                    td
                        strong Created on
                    td
                        - moment.locale("en");
                        p=moment(guild.createdTimestamp).format('LLLL')
br
